:root{
  --background-color-1: #EFEFEF;
  --background-color-2: #1B2026;
  --background-color-3: #F7D9C4;
  --background-color-3: #DCE8EB;
  
  --text-color-1: #232323;
  --text-color-2: #EFEFEF;

  --icon-color-1:#FF8484;
}
*{
  box-sizing: border-box;
}
a{
  color: var(--text-color-1);
  text-decoration: none;
}
